.gradle
/local.properties
.DS_Store
/build
/captures
/Bak/*

*.jks

keystore.properties

projectFilesBackup/.idea/*

Banner.png

ic_launcher.png

app/app-release.apk

.idea/*

*.iml

.idea/misc.xml

.idea/misc.xml
